/**
 * @file
 * Default global style for WYSIWYG (ckeditor) and other output formates.
 *
 * This will be visible from both the frontend and the admin interface, so
 * adding this through drupal_add_css() would be a pain.
 */

.media-element-container {
  margin: 15px 0;
  display: block;
}

.media-element-container:first-child {
    margin-top: 0;
}

.media-float-right {
  float: right;
  margin: 0 15px 15px 0;
}

[dir="rtl"] .media-float-right {
  float: right;
  margin: 0 0 15px 15px;
}

.media-float-left {
  float: left;
  margin: 0 0 15px 15px;
}

[dir="rtl"] .media-float-left {
  float: left;
  margin: 0 15px 15px 0;
}

/*
 * Default style for Image WYSIWYG view mode.
 */
.media-wysiwyg {
  padding: 8px;
  box-sizing: content-box;
  border: 1px solid #ddd;
  background-color: #f3f3f3;
  text-align: center;
}

.media-wysiwyg .caption-text {
  font-size: 12px;
}
